In [27]:
#!/usr/bin/env python
"""
Retrieve intraday stock data from Google Finance.
"""

import csv
import datetime
import re

import pandas as pd
import requests
import codecs



def get_google_finance_intraday(ticker, period=60, days=1):
    """
    Retrieve intraday stock data from Google Finance.
    Parameters
    ----------
    ticker : str
        Company ticker symbol.
    period : int
        Interval between stock values in seconds.
    days : int
        Number of days of data to retrieve.
    Returns
    -------
    df : pandas.DataFrame
        DataFrame containing the opening price, high price, low price,
        closing price, and volume. The index contains the times associated with
        the retrieved price values.
    """
    #CHANGE THE P VARIABLE IN ORDER TO GO FURTHER BACK IN TIME
    #for example, p=15 means 15 business days ago
    uri = "http://www.google.com/finance/getprices?q=AAPL&i=60&p=15d&f=d,o,h,l,c,v"
    page = requests.get(uri)
    print(page)
    reader = csv.reader(codecs.iterdecode(page.content.splitlines(), "utf-8"))
    columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    rows = []
    times = []
    for row in reader:
        print(row)
        if re.match('^[a\d]', row[0]):
            if row[0].startswith('a'):
                start = datetime.datetime.fromtimestamp(int(row[0][1:]))
                times.append(start)
            else:
                times.append(start+datetime.timedelta(seconds=period*int(row[0])))
            rows.append(map(float, row[1:]))
    if len(rows):
        return pd.DataFrame(rows, index=pd.DatetimeIndex(times, name='Date'),
                            columns=columns)
    else:
        return pd.DataFrame(rows, index=pd.DatetimeIndex(times, name='Date'))

In [28]:
get_google_finance_intraday("APPL")

<Response [200]>
['EXCHANGE%3DNASDAQ']
['MARKET_OPEN_MINUTE=570']
['MARKET_CLOSE_MINUTE=960']
['INTERVAL=86400']
['COLUMNS=DATE', 'CLOSE', 'HIGH', 'LOW', 'OPEN', 'VOLUME']
['DATA=']
['TIMEZONE_OFFSET=-240']
['a1508961600', '156.41', '157.55', '155.27', '156.91', '21207098']
['1', '157.41', '157.8295', '156.78', '157.23', '17000469']
['2', '163.05', '163.6', '158.7', '159.29', '44454160']
['5', '166.72', '168.07', '163.72', '163.89', '44700772']
['6', '169.04', '169.6499', '166.94', '167.9', '36046828']
['7', '166.89', '169.94', '165.61', '169.87', '33637762']
['8', '168.11', '168.5', '165.28', '166.6', '41393373']
['9', '172.5', '174.26', '171.12', '174', '59398631']
['TIMEZONE_OFFSET=-300']
['a1510002000', '174.25', '174.99', '171.72', '172.365', '35026306']
['1', '174.81', '175.25', '173.6', '173.91', '24361485']
['2', '176.24', '176.24', '174.33', '174.66', '24409527']
['3', '175.88', '176.095', '173.14', '175.11', '29482596']
['4', '174.67', '175.38', '174.27', '175.11', '25145500']
['7', '173.97', '174.5', '173.4', '173.5', '16982080']
['8', '171.34', '173.48', '171.18', '173.04', '23756533']

                       Open      High     Low    Close    Volume
Date
2017-10-25 13:00:00  156.41  157.5500  155.27  156.910  21207098
2017-10-25 13:01:00  157.41  157.8295  156.78  157.230  17000469
2017-10-25 13:02:00  163.05  163.6000  158.70  159.290  44454160
2017-10-25 13:05:00  166.72  168.0700  163.72  163.890  44700772
2017-10-25 13:06:00  169.04  169.6499  166.94  167.900  36046828
2017-10-25 13:07:00  166.89  169.9400  165.61  169.870  33637762
2017-10-25 13:08:00  168.11  168.5000  165.28  166.600  41393373
2017-10-25 13:09:00  172.50  174.2600  171.12  174.000  59398631
2017-11-06 13:00:00  174.25  174.9900  171.72  172.365  35026306
2017-11-06 13:01:00  174.81  175.2500  173.60  173.910  24361485
2017-11-06 13:02:00  176.24  176.2400  174.33  174.660  24409527
2017-11-06 13:03:00  175.88  176.0950  173.14  175.110  29482596
2017-11-06 13:04:00  174.67  175.3800  174.27  175.110  25145500
2017-11-06 13:07:00  173.97  174.5000  173.40  173.500  16982080
2017-11-06 13:08:00  171.34  173.4800  171.18  173.040  23756533